[submodule "lib/util.embedded"]
	path = lib/util.embedded
	url = git@github.com:malachib/util.embedded.git
[submodule "lib/TinyWireM"]
	path = lib/TinyWireM
	url = https://github.com/adafruit/TinyWireM.git
